doctype html
html
  head
    meta(
      name='viewport',
      content='width=device-width',
      initial-scale=1)
    title Mark Barker
    link(
      rel='stylesheet',
      href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(
      href='//fonts.googleapis.com/css?family=Open+Sans:700',
      rel='stylesheet',
      type='text/css')
    link(rel='stylesheet', href='mb.css')
  body
    div.container
      #names.text-center
        span Mark Barker
        span |
        span
          a(href='http://www.southardreid.com') Southard Reid
        span |
        span
          a(href='mailto:contactmarkbarker@gmail.com') Contact
      #image
        img(id='mb', src='markbarker.png').img-responsive.center-block
